

<tr class="text-left ship-info-small-window">
    <td>
        Category:
    </td>
    <td>
        <%= get_vessel_category_name @ship_info[:vessel_category] %>
    </td>
</tr>
<tr class="text-left ship-info-small-window">
    <td>
      <%= locales.capitalize_first_word.openPort %>
    </td>
    <td>
        <%= @ship_info[:port_name] %>
    </td>
</tr>
<tr class="text-left  ship-info-small-window">
    <td>
      <%= locales.capitalize_first_word.openDate %>:
    </td>
    <td>
        <%=  @ship_info[:open_start_date]%>
    </td>
</tr>
<tr class="text-left  ship-info-small-window ">
  <% unless @ship_info[:deadweight] == 0 %>
    <td>
        Deadweight:
    </td>
    <td>
        <%= @ship_info[:deadweight] %>
    </td>
  <% else %>
      <td>
        Deadweight Cargo Capacity:
      </td>
      <td>
        <%= @ship_info[:deadweight_cargo_capacity] %>
      </td>
  <% end %>
</tr>
<%# render 'side_panel/table_body/after_click_a_ship/broker_contact' %>

</button>
<tr class="text-left  ship-info-small-window">
    <td colspan=<%= 2 %>>
       <ul class="align-link-view-more-info">
         <a href="#" class=" btn-link" onclick="ShipDetailsViewInstance.start('<%= @ship_info[:ship_name]%>' ,'<%= @ship_info[:port_name]%>')"> View more information</a>
        </ul>
    </td>
</tr>

