

<tr class="text-left ship-info-small-window">
    <td>
        <%= locales.capitalize_first_word.sizeClass %>:
    </td>
    <td>
        <%= get_vessel_category_name @ship_info[:vessel_category] %>
    </td>
</tr>
<tr class="text-left ship-info-small-window">
    <td>
      <%= locales.capitalize_first_word.openPort %>:
    </td>
    <td>
        <%= @ship_info[:port_name] %>
    </td>
</tr>
<!--<tr class="text-left  ship-info-small-window">-->
    <!--<td>-->
      <%= locales.capitalize_first_word.openDate %>:
    <!--</td>-->
    <!--<td>-->
        <!--<%#  @ship_info[:open_start_date].strftime("%b %d, %Y")%>-->
    <!--</td>-->
<!--</tr>-->
<tr class="text-left  ship-info-small-window">
  <td>
    <%= locales.capitalize_first_word.originalEmail %>:
  </td>
  <td>
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#side-panel-email-modal">
      <%=  @ship_info[:original_email_address]%>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="side-panel-email-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog  modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-left" id="myModalLabel">
              <%= @ship_info[:email_subject] %>

            </h4>
          </div>
          <div class="modal-body">
            <textarea readonly cols="110" rows="30"><%= @ship_info[:email_body] %> </textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>
<tr class="text-left  ship-info-small-window ">
  <% unless @ship_info[:deadweight] == 0 %>
    <td>
        Deadweight:
    </td>
    <td>
        <%= @ship_info[:deadweight] %>
    </td>
  <% else %>
      <td>
        Deadweight Cargo Capacity:
      </td>
      <td>
        <%= @ship_info[:deadweight_cargo_capacity] %>
      </td>
  <% end %>
</tr>
<%# render 'side_panel/table_body/after_click_a_ship/broker_contact' %>

</button>
<tr class="text-left  ship-info-small-window">
    <td colspan=<%= 2 %>>
       <ul class="align-link-view-more-info">
         <a href="javascript: void(0)" class=" btn-link" onclick="ShipDetailsViewInstance.start('<%= @ship_info[:ship_name]%>' ,'<%= @ship_info[:port_name]%>')"> View more information</a>
        </ul>
    </td>
</tr>

