<% form_for(:user, :url => user_sign_in_path, :method => :post, remote: true, html: {class: "form-horizontal ", role: "form"}) do |f| %>
    <h3 class="text-left textStyle">Log In:</h3>
    <div class="row textStyle">
        <div class="col-md-6">

            <%= f.label "Username", class: "col-md-2 control-label" %>
            <%= f.text_field :username, class: "form-control labels", name: "username" %>
        </div>
        <div class="col-md-6">
            <%= f.label "Password", class: "col-md-2 control-label" %>
            <%= f.password_field :password, class: "form-control labels", name: "password" %>
        </div>

        <div class="row">
            <div class="clearfix"></div>
            <div class="col-md-2">
                <%= f.check_box :remember_me, class: "col-md-2 control-label" %>
                <%= f.label "Remember me" %>

            </div>

            <div class="clearfix"></div>
            <div class="col-md-2 passColor">
                <%= link_to "Forgot your password", "#", class: "passColor" %>
            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <div class="col-md-2">
                <%= f.submit "Log In", class: "form_button" %>
            </div>

        </div>

    </div>
<% end %>

<form name="login" class="form-horizontal " role="form">

    <div class="container">

        <h3 class="entry_banner-title">Log In:</h3>

        <div class="row">


            <div class="row">

                <div class="col-md-6">
        <span class="col-md-1 control-label entry_banner-medium">
          Username:
        </span>
                </div>

                <div class="col-md-6">
        <span class="col-md-1 control-label entry_banner-medium">
          Password:
        </span>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <input class="form-control labels col-md-5" type="text" name="userid" placeholder="Username"/>
                </div>

                <div class="col-md-6">
                    <input class="form-control labels col-md-5" type="password" name="password" placeholder="Password"/>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
      <span class="col-md-4 control labels entry_banner-small">
        <input type="checkbox" onClick=""/> Remember me
      </span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 passColor">
      <span class="col-md-5 entry_banner-small">
      <a href="" class="passColor">Forgot your password? </a>
    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 less_margin">
                    <!--<input class="basic_button" type="button" onclick="check(this.form)" value="Log In"/>-->
                    <a href=""><button class="basic_button" name="button" type="button">
                        Login
                    </button> </a>
                   
                </div>
            </div>

        </div>
</form>







