<%= form_for(:user, :url => user_sign_in_path , :method => :post,remote:true ,dataType:"html", html: {class:"form-horizontal ", role:"form"}) do |f| %>
    <h3 class="text-left textStyle">Log In:</h3>
    <div class="row textStyle">
        <div class="col-md-6">

            <%= f.label "Username", class:"col-md-2 control-label"  %>
            <%= f.text_field :username , class:"form-control labels",name:"username" %>
        </div>
        <div class="col-md-6">
            <%= f.label "Password", class:"col-md-2 control-label"   %>
            <%= f.password_field :password, class:"form-control labels" ,name:"password" %>
        </div>

        <div class="row">
            <div class="clearfix"></div>
            <div class="col-md-2">
                <%= f.check_box :remember_me, class:"col-md-2 control-label"  %>
               <%= f.label "Remember me" %>

            </div>

            <div class="clearfix"></div>
            <div class="col-md-2 passColor">
                <%= link_to "Forgot your password","#" ,class:"passColor"%>
            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <div class="col-md-2">
                <%= f.submit "Log In", class:"form_button"%>
            </div>

        </div>

    </div>
<% end %>









<!--<form name="login" class="form-horizontal " role="form">-->

  <!--<h3 class="text-left textStyle">Log In:</h3>-->

  <!--<div class="row textStyle">-->
    <!--<div class="col-md-6">-->
      <!--<label class="col-md-2 control-label ">-->
        <!--Username:-->
      <!--</label>-->
      <!--<input class="form-control labels" type="text" name="userid"/>-->
    <!--</div>-->
    <!--<div class="col-md-6">-->
      <!--<label class="col-md-2 control-label">-->
        <!--Password:-->
      <!--</label>-->
      <!--<input class="form-control labels" type="password" name="password"/>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="clearfix"></div>-->
    <!--<div class="col-md-2">-->
      <!--<label>-->
        <!--<input type="checkbox" onClick=""> Remember me-->
      <!--</label>-->
    <!--</div>-->
    <!--<div class="clearfix"></div>-->
    <!--<div class="col-md-2 passColor">-->
      <!--<a href="" class="passColor"> Forgot your password? </a>-->
    <!--</div>-->
    <!--<div class="clearfix"></div>-->
    <!--<div class="clearfix"></div>-->
    <!--<div class="col-md-2">-->
      <!--<input class="form_button" type="button" onclick="check(this.form)" value="Log In"/>-->
    <!--</div>-->
  <!--</div>-->
<!--</form>-->







