<%= form_for(resource, as: resource_name, url: session_path(resource_name), :method => :post,remote: true, html: {class: "form-horizontal ", role: "form"} ) do |f| %>
    <div class="container">

        <h3 class="entry_banner-title">Log In:</h3>

        <div class="row">

            <div class="row">

                <div class="col-md-6">
                    <span class="col-md-1 control-label entry_banner-medium">
                      Username:
                    </span>
                </div>

                <div class="col-md-6">
                    <span class="col-md-1 control-label entry_banner-medium">
                      Password:
                    </span>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <%= f.text_field :username, class: "form-control labels col-md-5 ", placeholder:"Username" %>
                </div>
               <div class="col-md-6">
                  <%= f.password_field :password, class:"form-control labels col-md-5", placeholder:"Password" %>

             <a class="col-md-5 login_error" id="loginError" href="#" data-taggle="tooltip" title="Username/Password is incorrect" data-placement="bottom">
                       </a>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <% if devise_mapping.rememberable? -%>
                          <span class="col-md-4 control labels entry_banner-small">
                              <%= f.check_box :remember_me %>
                              Remember me
                          </span>
                     <%end  -%>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 passColor">
                      <span class="col-md-5 entry_banner-small">
                          <%= link_to "Forgot your password?", "#", class: "passColor" %>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 less_margin">
                    <%= f.submit "Login", class: "basic_button" %>
                </div>
            </div>
        </div>
    </div>
<% end %>






