<ul id="admin-main-tap" class="nav nav-tabs">
  <li role="presentation"><%= link_to 'Home', controller: 'admin/main', action:'index'%></li>
  <li role="presentation"><%= link_to 'Shipment', controller: 'admin/shipment', action:'index'%></li>
  <li role="presentation"><%= link_to 'Email', controller: 'admin/email', action:'index'%></li>
  <li role="presentation" class="active"><%= link_to 'Brokers', controller: 'admin/broker', action:'index'%></li>
</ul>
<hr/>

<label>Update Broker Database</label>
<%= form_tag({action: :upload_brokers_file}, multipart: true ,class:'form-inline') do %>
    <div class="form-group">
        <%= file_field_tag 'brokers' %>
    </div>
    <div class="form-group">
        <%= submit_tag 'Upload Brokers', class: 'btn btn-primary'%>
    </div>
<% end %>

<hr/>
<%= button_to 'Reset Brokers', {action:'reset'}, class:'btn btn-link' , method: :post,  data: { confirm: 'Are you sure?'} %>
<table class="table table-striped">
  <tr>
    <th>
      ID
    </th>
    <th>
      Email
    </th>
    <th>
      Username
    </th>
      <th>
          # shipments
      </th>
    <th>
      # ship emails
    </th>
    <th>
      # recognized emails
    </th>
  </tr>
  <% @brokers.each do |broker|%>
    <tr>
      <td>
        <%= broker.id %>
      </td>
      <td>
        <%= broker.email %>
      </td>
      <td>
        <%= broker.username %>
      </td>
        <td>
            <%= broker.shipments.count %>
        </td>
      <td>
        <%= broker.num_ship_emails %>
      </td>
      <td>
        <%= broker.ship_emails.count %>
      </td>
    </tr>
  <% end%>

</table>