

<tr class="text-left">
    <td>
        Category:
    </td>
    <td>
        <%= get_vessel_category_name @ship_info[:vessel_category] %>
    </td>
</tr>
<tr class="text-left">
    <td>
        Open Port:
    </td>
    <td>
        <%= @ship_info[:port_name] %>
    </td>
</tr>
<tr class="text-left">
    <td>
        Open Date:
    </td>
    <td>
        July 20 - 25
    </td>
</tr>
<tr class="text-left">
  <% unless @ship_info[:deadweight] == 0 %>
    <td>
        Deadweight:
    </td>
    <td>
        <%= @ship_info[:deadweight] %>
    </td>
  <% else %>
      <td>
        Deadweight Cargo Capacity:
      </td>
      <td>
        <%= @ship_info[:deadweight_cargo_capacity] %>
      </td>
  <% end %>
</tr>

<tr class="text-left broker_info_popover"   >

    <td >

        Broker Name:
    </td>
    <td class="">
        <%= render 'side_bar/table_body/after_click_a_ship/broker_information' %>

        <a tabindex="0" class="link_appearance_name pointer"  onmouseover="load_popover_with_id(this,'broker_info_popover','short_broker_info_content','short_broker_info_title', 'left')" >
            <%= @ship_info[:broker_company]%>
        </a>

    </td>
</tr>
</button>
<tr class="text-left">
    <td colspan=<%= 2 %>>
        <%= link_to "View more information", ship_details_show_path(name: @ship_info[:ship_name]),remote: true , method: :post%>
    </td>

</tr>

