

<tr class="text-left">
    <td>
        Category:
    </td>
    <td>
        <%= get_vessel_category_name @ship_info[:vessel_category] %>
    </td>
</tr>
<tr class="text-left">
    <td>
        Open Port:
    </td>
    <td>
        <%= @ship_info[:port_name] %>
    </td>
</tr>
<tr class="text-left">
    <td>
        Open Date:
    </td>
    <td>
        July 20 - 25
    </td>
</tr>
<tr class="text-left">
    <td>
        Deadweight:
    </td>
    <td>
        <%= @ship_info[:deadweight] %>
    </td>
</tr>

<tr class="text-left broker_info" data-toggle="popover" type="button" data-placement="left"  onmouseover="load_popover_with_id(this,'short_broker_info')" >
    <td>
        Broker Name:
    </td>
    <td class="pointer whatever">
        <%= render 'side_bar/table_body/after_click_a_ship/broker_information' %>
          <%= @ship_info[:broker_name]%>
    </td>
</tr>
<tr class="text-left">
    <td colspan=<%= 2 %>>
        <%= link_to "View more information", ship_details_show_path(name: @ship_info[:ship_name]),remote: true , method: :post%>
    </td>

</tr>

