

<tr class="text-left hide-or-show-it">
    <td>
        Category:
    </td>
    <td>
        <%= get_vessel_category_name @ship_info[:vessel_category] %>
    </td>
</tr>
<tr class="text-left hide-or-show-it">
    <td>
        Open Port:
    </td>
    <td>
        <%= @ship_info[:port_name] %>
    </td>
</tr>
<tr class="text-left hide-or-show-it">
    <td>
        Open Date:
    </td>
    <td>
        <%=  @ship_info[:open_start_date]%>
    </td>
</tr>
<tr class="text-left hide-or-show-it">
  <% unless @ship_info[:deadweight] == 0 %>
    <td>
        Deadweight:
    </td>
    <td>
        <%= @ship_info[:deadweight] %>
    </td>
  <% else %>
      <td>
        Deadweight Cargo Capacity:
      </td>
      <td>
        <%= @ship_info[:deadweight_cargo_capacity] %>
      </td>
  <% end %>
</tr>
<%= render 'side_bar/table_body/after_click_a_ship/broker_contact' %>

</button>
<tr class="text-left hide-or-show-it">
    <td colspan=<%= 2 %>>
       <ul class="align-link-view-more-info"><%= link_to "View more information", ship_details_show_path(ship_name: @ship_info[:ship_name],port_name: @side_info[:port_name],region_name: @side_info[:region_name]),remote: true , method: :post%>
        </ul>
    </td>
</tr>

