<thead id="region_stats_table">
<tr>
    <th colspan="<%= 2%>" class="region_stats">
        <%= image_tag("greentriangle_down.png", size: "16", class:"triangle_image ")%> Ships by Size Class
    </th>
</tr>
</thead>
<tr class="thick_horizontal_line text-left">

    <td>Total Ships:</td>
    <td><%=  get_number_of_ships_per_region region_name %></td>
</tr>
<%
   ship_category_size = get_number_of_ships_per_region_for_all_category region_name
   vessel_classes.each do |_category|
%>
    <tr >
        <td class="text-left"><%=" #{_category}:" %></td>
        <td class="text-right"><%= ship_category_size[get_vessel_category_number _category]  || 0%></td>
    </tr>
<% end %>