
<thead id="region_stats_table">
<tr>
    <th colspan="<%= 2%>" class="region_stats">
        <%= image_tag("greentriangle_down.png", size: "16", class:"triangle_image ")%>
      <%= locales.shipsBySizeClass %>
    </th>
</tr>
</thead>

<%
   ship_category_size = get_number_of_ships_per_region_for_all_category region_name
   ship_category_size.each do |key, value|
%>
    <tr >
        <td class="text-left"><%=" #{key}:" %></td>
        <td class="text-right"><%= value   %></td>
    </tr>
<% end %>