<!--
    This file display general information about all regions
-->

    <%= render 'side_bar/part_of_table/headers/header'%>
      <thead class="side_bar_default_table text-left">
      <tr >
        <th colspan="<%= 2 %>">
            <%= image_tag("greentriangle_down.png", size: "16", class:"triangle_image")%> Total # of Ships
        </th>
      </tr>
      </thead>
        <% ship_category_size = get_number_of_ships_per_class
           vessel_classes.each do |_name| %>
          <tr class="text-left">
            <td><%=" #{_name}:" %></td>
            <td><%= ship_category_size[_name] || 0 %></td>
          </tr>
        <% end %>

      <thead class="side_bar_default_table text-left">
      <tr>
       <th colspan="<%= 2 %>" id="shipsByRegion">
           <%= image_tag("greentriangle_down.png", size: "16", class:"triangle_image")%> # of Ships by Region:
       </th>
      </tr>
      </thead>
      <tbody >
      <%
         count = 0
         regions =  get_number_of_ships_per_region
         region_hash_array =[]
         get_all_regions.each do |_name|

               temp = regions[_name]
               region_hash_array.insert(0,{name:_name, count: temp })
                 count = count + temp
         end
      %>

        <tr class="text-left thick_horizontal_line" >
            <td>Total Ship</td>
            <td><%= count%></td>
        </tr>

        <% region_hash_array.each do |_region| %>

                <tr class="text-left " >
                        <td><%= _region[:name] %></td>
                        <td><%= _region[:count]%></td>
                </tr>

        <% end %>

       </tbody>


