<!--
    This file display general information about all regions
-->

    <%= render 'side_bar/part_of_table/header'%>
      <thead class="side_bar_default_table text-left">
      <tr >
        <th colspan="<%= 2 %>">
            <%= image_tag("greentriangle_down.png", size: "16", class:"triangle_image")%> Total # of Ships
        </th>
      </tr>
      </thead>
        <% vessel_classes.each do |_class| %>
          <tr class="text-left">
            <td><%=" #{_class}:" %></td>
            <td><%= get_ships_per_class _class%></td>
          </tr>
        <% end %>

      <thead class="side_bar_default_table text-left">
      <tr>
       <th colspan="<%= 2 %>" id="shipsByRegion">
           <%= image_tag("greentriangle_down.png", size: "16", class:"triangle_image")%> # of Ships by Region:
       </th>
      </tr>
      </thead>
      <tbody >
      <% count = 0%>
        <tr class="text-left thick_horizontal_line" >
            <td>Total Ship</td>
            <td><%= count%></td>
        </tr>

        <% get_all_regions.each do |_region| %>

                <tr class="text-left " >
                        <td><%= _region %></td>
                    <%
                       temp = get_ships_per_region(_region).to_i
                       count = count + temp  %>
                        <td><%= temp%></td>
                </tr>

        <% end %>

       </tbody>


