<!--
After the user click the port on the map this side will appear.
-->




<%= render 'side_bar/part_of_table/header'%>
<thead class="table_after_clicking_on_a_port text-left">
<tr>
    <th colspan="<%= 2%>">
        <%= image_tag("greentriangle_down.png", size: "16", class:"triangle_image")%> List of ships in Region
    </th>
</tr>
</thead>
<tbody >
<tr>
    <td colspan="<%= 2%>">
        <div class="scroll_inside_table" style="overflow: auto; height: 150px; padding: 4px">


            <table class="table table-hover text-left">
                <tr >
                    <td>
                        hidalga
                    </td>
                </tr>
                <tr>
                    <td>
                        genco hunter
                    </td>
                </tr>
                <tr>
                    <td>
                        oak bay
                    </td>
                </tr>
                <tr>
                    <td>
                        kiwi trader
                    </td>
                </tr>
                <tr>
                    <td>
                        marine prince
                    </td>
                </tr>
                <tr>
                    <td>
                        fanja
                    </td>
                </tr>

            </table>

        </div>
    </td>
</tr>
</tbody >
<%= render 'side_bar/part_of_table/region_stats' %>


