<!--
After the user click the port on the map this side will appear.
-->




<%= render 'side_bar/part_of_table/headers/header'%>
<%= render 'side_bar/part_of_table/headers/port_header_name' %>

<tr>
    <td colspan="<%= 2%>">

    </td>
</tr>
<thead class="table_after_clicking_on_a_port text-left">
<tr>
    <th colspan="<%= 2%>">
        <%= image_tag("greentriangle_down.png", size: "16", class:"triangle_image")%> List of ships
    </th>
</tr>
</thead>
<tbody class="ship-list">
<tr >
    <td colspan="<%= 2%>">
        <%= render 'side_bar/part_of_table/bodies/ship_list' %>
    </td>
</tr>
<tbody id="ship-details-section">


</tbody>

</tbody >
<%= render 'side_bar/part_of_table/bodies/region_stats' %>


