<!--
After the user click the region on the map this side will appear.
-->




    <%= render 'side_bar/part_of_table/header'%>
    <thead class="table_after_clicking_on_a_region text-left">
      <tr>
        <th colspan="<%= 2%>">
            <%= image_tag("greentriangle_down.png", size: "16", class:"triangle_image")%> List of Ports
        </th>
      </tr>
      </thead>
      <tr>
        <td colspan="<%= 2%>">
          <div class="scroll_inside_table" style="overflow: auto; height: 150px; padding: 4px">


            <table class="table table-hover text-left">
              <tr >
                <td>
                    <%= link_to "Manitoba" , side_bar_port_path(port_info: {port_name: 'Manitoba', port_coordinates:"a"}),:remote => true, method: :post
                    %>
                </td>
              </tr>
              <tr>
                <td>
                  New York
                </td>
              </tr>
              <tr>
                <td>
                  Porto Alegre
                </td>
              </tr>
              <tr>
                <td>
                  Rio Grande
                </td>
              </tr>
              <tr>
                <td>
                  Ann Harbour
                </td>
              </tr>
              <tr>
                <td>
                  Florida
                </td>
              </tr>
              <tr>
                <td>
                  Djibouti
                </td>
              </tr>
              <tr>
                <td>
                  Portsmouth
                </td>
              </tr>
            </table>

          </div>
        </td>
      </tr>

        <%= render 'side_bar/part_of_table/region_stats' %>


