

<thead class="side_bar_default_table text-left">
<tr >
    <th colspan="<%= 2 %>">
        <%= render 'side_panel/parts_used_in_table/accessories/green_triangle_image'%>
        <%= locales_CEW.shipsBySizeClass %>
    </th>
</tr>

</thead>
<tbody>

<% get_number_of_ships_for_all_categories.each do |key, value| %>
    <tr class="text-left">
        <td><%=" #{key}:" %></td>
        <td><%= value  %></td>
    </tr>
<% end %>
</tbody>