<!--TABLE-->
<div class="tb">
  <div class="ship_details">
    <div class="modal-header ship_detail-header">
      <%= link_to "&times;".html_safe ,
                  ship_details_close_path({region_name:@name_of_region,port_name:@name_of_port}),
                  class:"close", remote: true , method: :post %>
        <h4 class="modal-title">Ship Details: <span class="ship_detail_color"><%= @name_of_ship %></span></h4>
    </div>
    <div class="container scroll_inside_table scroll_size_shipdetails">

      <div class="row">
        <div class="col-md-6 ship_details-portcall">
          <% @ship_details = get_ship_details_blue_table @name_of_ship %>
             <%= image_tag("greentriangle_down.png", alt:"Greentriangle down"  , height:"16" , width:"16")  %>
              <span class="ship_details_inside_span_text_color">General Information</span>
          <table>
            <tr>
              <td>Vessel Name</td>
              <td><%= @name_of_ship %></td>
            </tr>
            <tr>
                <td>Open Port</td>
                <td><%= @get_open_port_and_date[:value][:name] %></td>
            </tr>
            <tr>
                <td>Open Date</td>
                <td><%= @get_open_port_and_date[:value][:open_start_date] %></td>
            </tr>
            <% @ship_details.as_json.each do |k, v| %>
                <% unless v.nil? || v == 0 %>
                    <tr>
                      <td width="75%"><%= k.humanize.capitalize %></td>
                      <% if !!v == v %>
                          <% if v%>
                              <td width="25%">Yes</td>
                          <% else %>
                              <td width="25%">No</td>
                          <% end %>
                      <% else %>
                      <td width="25%"> <%= v %></td>
                      <% end %>
                    </tr>

                <% end %>
            <% end %>

          </table>
        </div>

        <% @ship_details = get_ship_details_green_table @name_of_ship %>
        <% unless @ship_details[1]%>
        <div class="col-md-6 ship_details-portcall" >

              <%= image_tag("greentriangle_down.png", alt:"Greentriangle down"  , height:"16" , width:"16")  %>
              <span class="ship_details_inside_span_text_color">Capacity</span>

          <table>
            <% @ship_details[0].as_json.each do |k, v| %>
                <% unless v.nil? || v == 0 %>
                    <tr>
                      <td> <%= k.humanize.capitalize %> </td>
                      <% if !!v == v %>
                          <% if v%>
                              <td>Yes</td>
                          <% else %>
                              <td>No</td>
                          <% end %>
                      <% else %>
                          <td> <%= v %></td>
                      <% end %>

                    </tr>

                <% end %>
            <% end %>

          </table>
        </div>
        <% end %>

        <% @ship_details = get_ship_details_red_table @name_of_ship %>
        <% unless @ship_details[1]%>
        <div class="col-md-6 ship_details-portcall">
              <%= image_tag("greentriangle_down.png", alt:"Greentriangle down"  , height:"16" , width:"16")  %>
              <span class="ship_details_inside_span_text_color">Speed and Consumption</span>

          <table>
            <% #@table_one = @ship_details[0] %>
            <% @ship_details[0].as_json.each do |k, v| %>
                <% unless v.nil? || v == 0 %>
                    <tr>
                      <td width="75%"> <%= k.humanize.capitalize %> </td>
                      <% if !!v == v %>
                          <% if v%>
                              <td width="25%">Yes</td>
                          <% else %>
                              <td width="25%">No</td>
                          <% end %>
                      <% else %>
                          <td width="25%"> <%= v %></td>
                      <% end %>
                    </tr>
                <% end %>
            <% end %>
          </table>
        </div>
        <% end %>

        <% @ship_details = get_ship_details_yellow_table @name_of_ship %>
        <% unless @ship_details[1]%>
        <div class="col-md-6 ship_details-portcall">
              <%= image_tag("greentriangle_down.png", alt:"Greentriangle down"  , height:"16" , width:"16")  %>
              <span class="ship_details_inside_span_text_color">Equipment, Fittings and Special Class</span>

          <table>
            <% #@table_one = @ship_details[0] %>
            <% @ship_details[0].as_json.each do |k, v| %>
                <% unless v.nil? || v == 0 %>
                    <tr>
                      <td width="75%"> <%= k.humanize.capitalize %> </td>
                      <% if !!v == v %>
                          <% if v%>
                              <td width="25%">Yes</td>
                          <% else %>
                              <td width="25%">No</td>
                          <% end %>
                      <% else %>
                          <td width="25%"> <%= v %></td>
                      <% end %>
                    </tr>
                <% end %>
            <% end %>
          </table>
        </div>
        <% end %>

      </div>
    </div>

  </div>
</div>
