<!--TABLE-->
<div class="tb">
  <div class="ship_details">
    <div class="modal-header ship_detail-header">
      <%= link_to "&times;".html_safe ,
                  ship_details_close_path({region_name:@name_of_region,port_name:@name_of_port}),
                  class:"close", remote: true , method: :post %>
        <h4 class="modal-title">Ship Details: <span class="ship_detail_color"><%= @name_of_ship %></span></h4>
    </div>
    <div class="container scroll_inside_table scroll_size_shipdetails">

      <div class="row">
        <div class="col-md-6 ship_details-portcall">
          <% @ship_details = get_ship_details_first_table @name_of_ship %>
             <%= image_tag("/assets/greentriangle_down.png", alt:"Greentriangle down"  , height:"16" , width:"16")  %>
              <span class="ship_details_inside_span_text_color">General Information</span>
          <table>
            <% @ship_details.as_json.each do |k, v| %>
                <% unless v.blank? || v == 0 %>
                    <tr>
                      <td><%= k.humanize.capitalize %></td>
                      <td> <%= v %></td>
                    </tr>

                <% end %>
            <% end %>

          </table>
        </div>

        <div class="col-md-6 ship_details-portcall" >
          <% @ship_details = get_ship_details_second_table @name_of_ship %>
          <% unless @ship_details[1]%>
              <%= image_tag("/assets/greentriangle_down.png", alt:"Greentriangle down"  , height:"16" , width:"16")  %>
              <span class="ship_details_inside_span_text_color">Capacity</span>
          <% end %>
          <table>
            <% @ship_details[0].as_json.each do |k, v| %>
                <% unless v.blank? || v == 0 %>
                    <tr>
                      <td> <%= k.humanize.capitalize %> </td>
                      <td> <%= v %> </td>
                    </tr>

                <% end %>
            <% end %>

          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 ship_details-portcall">
          <% @ship_details = get_ship_details_third_table @name_of_ship %>

          <% unless @ship_details[1]%>
              <%= image_tag("/assets/greentriangle_down.png", alt:"Greentriangle down"  , height:"16" , width:"16")  %>
              <span class="ship_details_inside_span_text_color">Fuel</span>
          <% end %>

          <table>
            <% #@table_one = @ship_details[0] %>
            <% @ship_details[0].as_json.each do |k, v| %>
                <% unless v.blank? || v == 0 %>
                    <tr>
                      <td> <%= k.humanize.capitalize %> </td>
                      <td> <%= v %> </td>
                    </tr>
                <% end %>
            <% end %>
          </table>
        </div>
      </div>

    </div>

  </div>
</div>
