<ul id="admin-main-tap" class="nav nav-tabs">
    <li role="presentation"><%= link_to 'Home', controller: 'admin/main', action:'index'%></li>
    <li role="presentation" class="active"><%= link_to 'Shipment', controller: 'admin/shipment', action:'index'%></li>
    <li role="presentation"><%= link_to 'Email', controller: 'admin/email', action:'index'%></li>
    <li role="presentation"><%= link_to 'Brokers', controller: 'admin/broker', action:'index'%></li>
</ul>
<hr/>

<label>Update Shipment Database</label>
<%= form_tag({action: :upload_shipments_file}, multipart: true ,class:'form-inline') do %>
    <div class="form-group">
        <%= file_field_tag 'shipments' %>
    </div>
    <div class="form-group">
        <%= submit_tag 'Upload Shipment', class: 'btn btn-primary' %>
    </div>

<% end %>

<hr/>
<%= button_to 'Reset Shipment', {action:'reset'}, class:'btn btn-link' , method: :post,  data: { confirm: 'Are you sure?'} %>
<%= will_paginate @shipments %>
<table class="table table-striped">
  <tr>
    <th>
      ID
    </th>
    <th>
      ship
    </th>
    <th>
     ports
    </th>
    <th>
      Brokers Id
    </th>
  </tr>
  <% @shipments.each do |shipment|%>
      <tr>
        <td>
          <%= shipment.id %>
        </td>
        <td>
            <%= shipment.ship.name %>
        </td>
        <td>
          <%= shipment.port.name %>
        </td>
        <td>
          <% brokers = []
             shipment.brokers.each do |broker|
                 brokers.push(broker.id)
             end
          %>
          <%= brokers %>
        </td>
      </tr>
  <% end%>

</table>
<%= will_paginate @shipments %>