<!DOCTYPE html>
<html>
<head>
    <title>The Ship Network</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- load required libraries in order -->
    <%= render 'layouts/share/javascript_tags' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

    <!-- header -->
    <%= render 'layouts/share/header' %>
    <!-- end of header -->
    <!-- container -->
    <div class="container">
        <div >
            <% flash.each do |key, value| %>
                <div class="<%= flash_class(key) %> alert-dismissible" role="alert">
                    <% values = value if value.is_a? Array %>
                    <% unless values.blank? %>
                        <%  values.each do |v| %>
                            <div>
                                <%= v %>
                            </div>
                            <hr/>
                        <% end %>
                    <%else %>
                    <%= value %>
                    <% end %>
                </div>
            <% end %>
            <%= yield %>
        </div>
        <!-- end of container -->
    </div>
    <!-- footer -->
    <%# render 'layouts/share/footer' %>
    <!-- end of footer -->

</body>
</html>
