<!DOCTYPE html>
<html>
<head>
  <title>ShipNetwork</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- load required libraries in order -->
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
 </script>
  <%= render 'layouts/share/javascript_tags' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<!--  <%= render 'main_pages/entry_banner' %>  -->
	<!-- header -->
	<%= render 'layouts/share/header' %>
	<!-- end of header -->
	
	<!-- container -->
	<div class="container starter-template">
      <!-- <div class="starter-template">

		</div> -->
      <%= yield %>
		<!-- footer -->

		<!-- end of footer -->
	</div>
<%= render 'layouts/share/footer' %>
    <!-- end of container -->
</body>
</html>
