<!DOCTYPE html>
<html>
<head>
    <title>The Ship Network</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- load required libraries in order -->
    <%= render 'layouts/share/javascript_tags' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<%= render 'error_message/index' %>
<% unless broker_signed_in? %>

    <%= render 'main_pages/entry_banner' %>
    <div id="transparent_div" class="transparent">
<% else %>

<% end %>


<!-- header -->
<%= render 'layouts/share/header' %>
<!-- end of header -->
<!-- container -->
<div class="container">
    <div >
        <%= yield %>
    </div>
    <!-- end of container -->

</div>
<!-- footer -->
<%# render 'layouts/share/footer' %>
<!-- end of footer -->

</div>
</body>
</html>
